html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mukta", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
/* //Gill Sans
//Quicksand */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  word-break: keep-all;
  background-color: white;
  border: solid rgba(101, 101, 101, 0.851) 0.4px;

  border-radius: 8px;
  padding: 4px 10px;
}

p {
  word-break: keep-all;
}

input {
  height: 30px;
  border: none;
  border-bottom: solid grey 2px;
}

input:focus {
  outline: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
