html,
body {
  padding: 0;
  margin: 0;
  font-family: "Mukta", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
/* //Gill Sans
//Quicksand */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  word-break: keep-all;
  background-color: white;
  border: solid grey 0.1px;
  border-radius: 5px;
  padding: 4px 10px;
}

p {
  word-break: keep-all;
}
