.board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  min-height: 400px;
  background-color: skyblue;
  border-radius: 10px;
  margin: 30px;
}

.buttons {
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  /* box-shadow: 3px 0px 20px -5px rgba(0, 0, 0, 0.09); */
  font-size: 1rem;
  width: 150px;
  height: 40px;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.desc {
  font-size: 0.9rem;
  margin: 10px 0 80px 0;
}

/* Form */
.hint {
  color: grey;
  font-size: 0.8rem;
}

.block {
  display: inline-block;
  text-align: center;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
}
